.header img {
  width: 20px;
}

.text-dandelion {
  color: #dbda98;
}

.carousel {
  position: relative;
}

.carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}

.overlay p a {
  text-decoration: none;
  color: #dbda98;
}

.overlay .container,
.overlay .row {
  height: 80%;
}

.carousel-item img {
  height: 92vh;
  object-fit: cover;
  filter: grayscale(40%);
}

.carousel-item {
  transition: transform 0.5s ease, opacity 0.3s ease-out;
}

.btn-wheat {
  color: #dbda98;
  border-color: #dbda98;
}

.btn-wheat:hover {
  background-color: #dbda98;
  border-color: #dbda98;
}

.card-body {
  text-align: end;
}

.badge {
  /* width: 100%; */
  background-color: #94923e;
  color: white;
}

.place-time {
  background-color: #343a40;
  color: white;
}

.place-time img {
  width: 100%;
  /* max-height: 30rem; */
  object-fit: cover;
}

.btn-send {
  text-align: center;
  background-color: #dbda98;
  /* color: black; */
}

.btn-send:hover {
  background-color: #94923e;
  color: white;
}

.cr-user {
  font-size: 0.85rem;
}

footer {
  background: #343a40;
}

footer a {
  color: aliceblue;
  text-decoration: none;
}
